button.CN.delete{
 background: red;
}
button.CN.edit{
background: rgb(26, 71, 219);
}
button.CN.detail{
    background: green;
}
button.CN.new{
    background: rgb(7, 179, 7);
    margin-bottom: 10px;
    padding: 8px 10px 8px 10px;
    font-size: 16px;
}
button.CN{
 border: none;
 border-radius: 5px;
 padding: 5px 10px 5px 10px;
 margin-left: 10px;
 color: white;
}
button.CN a{
    color: white;
    font-weight: bold;
}
table.table.table-bordered{
    margin-bottom: 0px;
}
td.userId{
    width: 5%;
}
td.userAvatar{
    width: 10%;
}
td.userName{
    width: 18%;
}
td.loaiUser{
    width: 10%;
}
td.chucNang{
    width: 15%;
}
// ============
.showUser{
    border: 1px solid black;
    margin-left: 30%;
    max-width: 450px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px 0 0 20px;
}
.avatars img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
