div#messages {
  height: 50%;
  width: 95%;
  color: white;
  margin: 14px auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  p {
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 300px;
    width: max-content;
  }
}
.received_msg {
  border-bottom-right-radius: 10px;
  align-self: flex-start;
}

.sent_msg {
  border-bottom-left-radius: 10px;
  align-self: flex-end;
}
.talk-bubble {
  margin: 5px;
  height: auto;
  background-color: rgb(0, 60, 255);
  word-wrap: break-word;
}
.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.write_msg.js-message-content {
  background-color: #bbb6bb;
  border: 10px;
  border-radius: 25px;
  padding: 10px 15px;
}
.linkchat {
  border: 1px;
  border-radius: 25px;
  position: fixed;
  top: 50px;
  right: 20px;
  .fa {
    font-size: 40px;
  }
}
