// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.order{
  border-style: outset
}
#order_payment_method_id{
  border-radius: 5px;
  margin-bottom: 10px;

}
.order-btn{
  width: 30%;
  background-color: #0dbe19;
  border: 1px;
  border-radius: 5px;
}
