// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.order {
  border-style: outset;
}
#order_payment_method_id {
  border-radius: 5px;
  margin-bottom: 10px;
}
.address {
  width: 50%;
  padding-left: 10px;
  height: 35px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.order-btn {
  background-color: #0dbe19;
  height: 35px;
  width: 100%;
  border: 1px;
  border-radius: 5px;
}
.actions {
  margin-left: 50%;
  font-size: 18px;
}
.money {
  float: right;
  margin-right: 10px;
}
