@import "bootstrap-sprockets";
@import "bootstrap";

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 30%;
  margin: auto;
  font-family: arial;
}

.card.sanpham {
    text-align: center;
}

.name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}
.image img {
  width: 100%;
}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
.all_products {
  display: flex;
}
.paginate {
  text-align: center;
}
// ============product details================
.card{
  width: 100%;
}
.activeV2{
  width: 20%;
}
.hr{
  border: 1px solid rgb(156, 154, 154);
}
.addSP{
  margin-top: 20px;
}
.container.chinhsua{
  margin-left: -15px;
}
.card{
  .productDetails{
    float: left;
    text-align: left;
  }
}
.itemQuantity{
  width: 20%;
  font-size: 18px;
  .quantitySelector{
    text-align: center;
  }
}
.anhSP {
  width: 75%;
  margin-left: 10%;
}
