.avatar img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.information {
    width: 70%;
    margin-left: 20%;
    font-size: 18px;
    margin-bottom: 40px;
}
.information b{
    padding-top: 5px;
}
